.container {
  position: relative;
  background: transparent;
  background-image: url('../../../assets//images/gradient-carousel.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  outline: none;
  max-height: 500px;
}

@media (max-width: 575px) {
  .container {
    max-height: 300px;
  }
}
  
.coverflow {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
  
.stage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  transform-style: preserve-3d;
  perspective: 500px;
}
  
.figure {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 600ms ease;
  backface-visibility: hidden;
  z-index: 9;
  align-self: center;
  text-align: center;

  .selectButton {
    margin-top: -23px;
  }
}
  
.cover {
  display: block;
  width: 100%;
  border-radius: 10px;

  img {
    border-radius: 10px;
  }
}
  
.preloader {
  display: hidden;
}
  
.text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: .9em;
  color: white;
  padding: 5px;
  overflow: hidden;
  background: rgba(0, 0, 0, .6);
}
  
.arrowWrapper {
  text-align: center;
  font-weight: bold;

  span {
    cursor: pointer;
  }
}