.Avatar {
  margin-bottom: -60px;
  margin-left: 15px;
}

.CardContent {
  margin-top: 25px;
}

.Label {
  border-radius: 10px 10px 0px 10px;
  padding: 3px 10px;
  width: 80px;
  margin-left: auto;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}