.Img {
  margin: 10px;
  width: 102px;
  height: 105px;
}

.ArrowBottom {
  margin-top: 110px;
}

.TextAfterImg {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 121.4%;  
}

