.GameSwitcher {
  .MuiOutlinedInput-input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .MuiSelect-icon {
    color: #ffffff;
    margin-left: 10px;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
}
