.MuiTabs-root .MuiTabs-flexContainer .MuiButtonBase-root {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  text-transform: inherit;
}

.MuiTabs-root .MuiTabs-flexContainer .Mui-selected {
  color: #0E76BC;
  border-top: 1px solid #1479BD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.MuiTabs-root .MuiTabs-flexContainer .MuiButtonBase-root:not(.Mui-selected) {
  color: #FFFFFF;
  opacity: 0.3;
}

.MuiTabs-root .MuiTabs-scroller .MuiTabs-indicator {
  background-color: transparent;
}
