.Section {
  padding: 80px 10px;
}

.BgGradientBottom {
  background: linear-gradient(180deg, rgba(7, 13, 23, 0), #0E1420);
}

.BgColor {
  background: #0E1420;
}

.BgGradientTop {
  background: linear-gradient(180deg, #0E1420, rgba(7, 13, 23, 0));
}