.FooterText {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 121.4%;
  color: #FFFFFF;
  text-decoration: none;
}

.SocialMediaImg {
  margin: 10px 5px;
}