.NavLink {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px;
}