body {
  margin: 0;
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0a0a;
  color: #ffffff;

  .header-text-bold {
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: bold;
    line-height: 121.4%;

    &.font-55px {
      font-size: 55px;
    }

    &.font-20px {
      font-size: 20px;
    }

    &.font-24px {
      font-size: 24px;
    }

    &.font-17px {
      font-size: 17px;
    }
  }

  .header-text-regular {
    font-family: "Poppins-Regular";
    font-style: normal;
    font-weight: normal;
    line-height: 121.4%;

    &.font-55px {
      font-size: 55px;
    }

    &.font-17px {
      font-size: 17px;
    }

    &.font-16px {
      font-size: 16px;
    }

    &.font-14px {
      font-size: 14px;
    }

    &.font-11px {
      font-size: 11px;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #0E76BC;
    border-radius: 5px;
  }
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets//fonts//Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets//fonts//Poppins-Bold.ttf");
}

.NoMargin {
  margin: 0;
}

.NoMarginTop {
  margin-top: 0;
}

.MarginBottom5px {
  margin-bottom: 5px;
}

.TextAlignRight {
  text-align: right;
}

.Modal {
  .MuiPaper-root {
    border-radius: 10px;
  }
}

.MuiInputLabel-outlined {
  font-size: 14px;
  font-style: normal;
  font-family: Poppins-Regular;
  font-weight: normal;
}
